<aside  data-controller='decrease'
        data-decrease-target='aside'
        class="relative aside-default md:flex lg:block <%= cookies['asideState'] ? 'lg:w-2/12' : 'lg:w-[4%]' %>">
  <!--LOGO--->
  <%= render UI::Logo.new(link: root_path, logo: 'gramola-logo.png') %>

  <%= active_link_to '', data: { action: 'click->decrease#toggle' }, class: 'absolute top-3 -right-4 nav-link p-1 text-center rounded-full border border-slate-600 bg-white hover:bg-slate-200 text-indigo-500 shadow-md shadow-slate-300 z-10' do %>
    <%= inline_svg_tag('icons/aside/chevron-left.svg', class: 'w-6 h-6', data: { 'decrease-target': 'iconLeft' }) %>
    <%= inline_svg_tag('icons/aside/chevron-right.svg', class: 'w-6 h-6 hidden', data: { 'decrease-target': 'iconRight' }) %>
  <% end %>

  <!---LINK OPTIONS-->
  <nav class="w-full flex flex-col items-center border-t border-gray-700 gap-8">
    <% aside_items.each do |item| %>
      <%= render UI::NavLink.new(path: item[:path], title: item[:title], icon: item[:icon]) %>
    <% end %>
  </nav>
  <div class="w-full fixed top-2 right-[40%] flex justify-end md:hidden z-10">
    <button class="w-10 ml-5 group focus:outline-none">
      <div class="rounded-xl bg-black h-1 w-8 my-1 relative top-2 rotate-45 "></div>
      <div class=""></div>
      <div class="rounded-xl bg-black h-1 w-8 my-1 relative -rotate-45 top"></div>
    </button>
  </div>


  <%= render UI::Cards::User.new(
                user: nil,
                options: {
                  container: {
                    style: 'absolute bottom-4 left-2 w-[93%] mr-2 flex flex-col items-center bg-indigo-700 rounded-xl gap-8 shadow-md shadow-slate-700'
                  },
                  button: {
                    style: 'w-full py-8 px-4 hover:cursor-pointer flex justify-center items-center gap-4'
                  },
                  avatar:{
                    style: 'w-12 h-12 p-5 flex justify-center items-center bg-corporation border-2 border-indigo-600 bg-slate-950 rounded-full shadow-lg text-white hover:text-red-500 hover:duration-500 duration-500 text-center font-semibold uppercase'
                  },
                  dropdown: {
                    style: 'w-64 flex flex-col gap-6 hidden border-2 border-slate-950 text-slate-200 shadow-lg shadow-slate-500 rounded-lg p-4 bg-slate-950 opacity-0 transition-opacity duration-300 ease-in-out',
                    position: 'absolute -top-40 left-0'
                  }
                }
              ) %>
</aside>
