    <footer class="bg-gray-950  text-white p-4">
      <%#= render 'layouts/shared/cookies_banner' %>
      <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
        <div class="flex items-center gap-6">
          <span class="text-sm">© <%= Time.zone.now.year %></span>
          <%= render UI::Logo.new(link: root_path, logo: 'gramola-logo-transparent.png') %>
        </div>
        <div class="flex flex-col md:flex-row items-center gap-4 top-">
          <%= link_to 'Términos y condiciones', 'terms_and_conditions_path' %>
          <%= link_to 'Política de privacidad', 'privacy_policy_path' %>
          <%= link_to 'Política de cookies', 'cookies_policy_path' %>
        </div>
      </div>
    </footer>