<header class="bg-gray-950 shadow-md transition-all">
  <%= render UI::Navbar::Menu.new(orientation: :horizontal, style: {navbar: 'container max-w-screen grid grid-cols-2 lg:grid-cols-3 items-center justify-between mx-auto p-4'}) do |menu| %>
    <!-- Logo -->
    <div class="flex items-center"> 
      <%= render UI::Logo.new(link: root_path, logo: 'gramola-logo-transparent.png') %>
      <!-- Menu Toggle Button -->
      <div class="lg:hidden flex justify-end">
        <button class="h-6 w-6 ml-5 group focus:outline-none" data-action="navbar#toggleMainMenu">
          <div class="rounded-xl bg-black h-0.5 w-6 my-0.5 group-hover:relative group-hover:top-1 group-hover:rotate-45 duration-500"></div>
          <div class="rounded-xl bg-black h-0.5 w-6 my-0.5 group-hover:bg-transparent group-hover:duration-150"></div>
          <div class="rounded-xl bg-black h-0.5 w-6 my-0.5 group-hover:relative group-hover:bottom-1 group-hover:-rotate-45 duration-500"></div>
        </button>
      </div>
    </div>

    <!-- Main Menu -->
    <div id="navbar-multi-level" data-navbar-target="mainMenu" class="fixed lg:relative top-12 left-0 lg:left-0 md:top-14 lg:top-0 z-40 col-span-2 lg:col-span-1 hidden lg:block bg-transparent  w-full h-auto">
      <ul class="flex flex-col justify-center items-center font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent">
        <!-- Menu options -->
        <% navbar_items.each do |item| %>
          <%= render UI::Navbar::NavItem.new(path: item[:path], title: item[:title]) %>
        <% end %>
      </ul>
    </div>

    <!-- User Card -->
    <div class="flex justify-end gap-4">
      <% if user_signed_in? %>
        <% actions = user_card_signed_links %>
        <% actions.unshift(*user_card_admin_links) if current_user.admin? || current_user.superadmin? %>
        <%= render(UI::Cards::User.new(user: current_user, options: navbar_user_card_options, actions: actions)) %>
      <% else %>
        <div class="w-full flex justify-end items-center gap-x-8">
          <%= link_to inline_svg_tag('icons/brands/facebook.svg', class: 'w-11 h-11'), 
                      'https://www.facebook.com/gramoladisco',
                      target: '_blank',
                      class: 'hover:scale-110 transition-all ease-in-out duration-500' %>
    
          <%= link_to inline_svg_tag('icons/brands/instagram.svg', class: 'w-12 h-12'),
                      'https://www.instagram.com/lagramoladisco',
                      target: '_blank',
                      class: 'hover:scale-110 transition-all ease-in-out duration-500' %>
          <%= link_to inline_svg_tag('icons/user/user-up.svg', class: 'w-10 h-10 text-white'),
                      new_user_session_path,
                      data: { turbo_frame: 'modal' },
                      class: 'w-12 h-12 flex justify-end items-center gap-4 shadow shadow-indigo-500 bg-slate-800 hover:bg-slate-700 border-4 hover:scale-110 border-indigo-400 p-2 rounded-full transition-all ease-in-out duration-300' %>
        </div>
      <% end %>
    </div>
  <% end %>
</header>