<%- if controller_name != 'sessions' %>
  <%= link_to new_session_path(resource_name), class: 'w-full flex justify-between items-center text-center bg-blue-500 text-white rounded-lg py-2 px-4 gap-4 hover:cursor-pointer' do %>
    <span class="w-full"><%= t('.login')%></span>
    <%= inline_svg_tag 'icons/user/mood-cog.svg', class: 'w-6 h-6' %>
  <% end %>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to new_registration_path(resource_name), class: 'w-full flex justify-between items-center text-center bg-blue-500 text-white rounded-lg py-2 px-4 gap-4 hover:cursor-pointer' do %>
    <span class="w-full"><%= t('.registration')%></span>
    <%= inline_svg_tag 'icons/user/mood-cog.svg', class: 'w-6 h-6' %>
  <% end %>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to  new_password_path(resource_name), class: 'w-full flex justify-between items-center text-center bg-blue-500 text-white rounded-lg py-2 px-4 gap-4 hover:cursor-pointer' do %>
    <span class="w-full"><%= t('.recover_password')%></span>
    <%= inline_svg_tag 'icons/user/mood-cog.svg', class: 'w-6 h-6' %>
  <% end %>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to new_confirmation_path(resource_name), class: 'w-full flex justify-between items-center text-center bg-blue-500 text-white rounded-lg py-2 px-4 gap-4 hover:cursor-pointer' do %>
    <span class="w-full"><%= t('.confirmation')%></span>
    <%= inline_svg_tag 'icons/user/mood-cog.svg', class: 'w-6 h-6' %>
  <% end %>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to  new_unlock_path(resource_name), class: 'w-full flex justify-between items-center text-center bg-blue-500 text-white rounded-lg py-2 px-4 gap-4 hover:cursor-pointer' do %>
    <span class="w-full"><%= t('.unlock_instructions')%></span>
    <%= inline_svg_tag 'icons/user/mood-cog.svg', class: 'w-6 h-6' %>
  <% end %>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <% icon = provider.to_s.include?('google') ? 'google' : provider.to_s.include?('facebook') ? 'facebook' : 'github' %>
    <%= form_for "Login", url: omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: 'false' } do |form| %>
      <%= button_tag(type: 'submit', class: 'w-12 h-12 flex justify-center items-center') do %>
        <%= inline_svg_tag("icons/brands/#{icon}.svg", class: 'w-8 h-8')%>
      <% end %>
    <% end %>
  <% end %>
<% end %>