<section class="w-full lg:container py-2 px-10 gap-6 flex flex-col justify-center items-center mx-auto">
  <div class="w-full flex flex-col justify-between bg-corporation text-white py-4 gap-y-12">
    <div class="w-full flex justify-between items-center mx-auto gap-5 py-6">
      <div class="w-full flex-1 flex justify-start items-center gap-6">
        <%= render(UI::TitleCount.new(title: 'Space Data', count: @content.count)) %>
        <%= render(UI::Paginator.new(items: params[:items], url: ->(params) { spaces_admin_dashboard_index_path(params) })) %>
      </div>
      <div class="flex-1 flex justify-end items-center gap-x-5 text-blue-950">
        <%= render(UI::StringSearcher.new(
          path: spaces_admin_dashboard_index_path,
          attribute: :text,
          options: {
            placeholder: t('.search'),
            regex: params[:text]
          })
        )%>
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col justify-start items-center">
    <header class="w-full flex fustify-between items-center lg:grid lg:grid-cols-<%= @headers.size %> gap-4 py-4 md:text-xl font-semibold text-slate-100 bg-slate-950 border-b-4 border-b-blue-800 rounded-t-2xl">
      <% @headers.each do |header| %>
        <% sort = params[:direction] == 'desc' && params[:sort] == header ? {direction: 'asc', arrow: '🔻' } : {direction: 'desc', arrow: '🔺' } %>
        <div class="capitalize px-3 text-sm xl:text-xl whitespace-nowrap ">
          <%= link_to "#{t(".#{header}")} #{sort[:arrow]}", spaces_admin_dashboard_index_path(sort: header, direction: sort[:direction], items: params[:items]) %>
        </div>
      <% end %>
    </header>
    <ul id="search_results" class="w-full flex flex-col mb-4 [&>li:last-child]:border-b [&>li:last-child]:border-b-gray-950 [&>li:last-child]:rounded-b-xl shadow-lg shadow-gray-950 rounded-xl">
      <% @content.each do |obj| %>
        <li id="<%= obj.key %>"
            data-target="search_results"
            class="min-w-full flex fustify-between items-center lg:grid lg:grid-cols-5 py-2 text-slate-100 hover:bg-indigo-800 even:bg-slate-700 odd:bg-slate-800 transition-colors ease-in-out duration-500">
          <div class="flex justify-start items-center py-2 px-4 truncate whitespace-nowrap"><%= obj.etag %></div>
          <div class="flex justify-start items-center py-2 px-4 truncate whitespace-nowrap"><%= obj.key %></div>
          <div class="flex justify-start items-center py-2 px-4 truncate whitespace-nowrap"><%= number_to_human_size(obj.size) %></div>
          <div class="flex justify-start items-center py-2 px-4 truncate whitespace-nowrap"><%= obj.last_modified %></div>
          <div class="flex justify-start items-center py-2 px-4 truncate whitespace-nowrap"><%= obj.owner.id %></div>
        </li>
      <% end %>
    </ul>
    <%== pagy_nav(@pagy)%>
  </div>
</section>