<div  data-controller="dropdown"
      data-dropdown-open-value="false"
      class="<%= container_style %>" >

  <button role="button" 
          tabindex=0 
          data-dropdown-target="openButton"
          data-action="click->dropdown#open"
          class="<%= button_style %>">
    <span class="<%= avatar_style %> hover:cursor-pointer">
      <%= user.email[0] %>
    </span>
  </button>

  <dropdown data-dropdown-target="dropdownContent"
            class="<%= dropdown[:position] %> <%= dropdown[:style] %>">
    <h3 class="w-full text-indigo-700 font-semibold text-center  border-b-2 border-b-indigo-700 pb-2"><%= user.email %> | <%= user.oauth_access_token.provider %></h3>
    <ul class="w-full h-full flex flex-col justify-end items-start gap-5">
      
      <% if user.superadmin? %>
        <li class="w-full flex justify-start items-center py-2 px-6 bg-indigo-500 text-white rounded-xl transition-all ease-in-out duration-1000">
          <%= link_to sidekiq_web_path, target: '_blank', class: "w-full flex justify-start items-center gap-4" do %>
            <%= inline_svg_tag("icons/user/settings-cog.svg", class: "w-6 h-6") %>
            <span class="text-white font-semibold">Sidekiq Panel</span>
          <% end %>
        </li>
      <% end %>
      
      <% actions.each do |action| %>
        <li class="<%= action.dig(:li, :class) %>">
          <%= link_to action.dig(:link, :path), data: action.dig(:link, :data), class: action.dig(:link, :class) do %>
            <%= inline_svg_tag(action.dig(:icon, :svg), class: action.dig(:icon, :class)) %>
            <span class="<%= action.dig(:title, :class) %>"><%= action.dig(:title, :text) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </dropdown>
</div>
