<div id="<%= dom_id(@spam_request) %>" class="w-full flex flex-col py-2 mb-4 text-slate-300">
  <div class="w-full flex flex-col gap-12">
    <div class="w-full flex justify-between items-center gap-12">
      <div class="w-full flex flex-col 2xl:grid 2xl:grid-cols-2 gap-6 px-4 py-4 border border-slate-700 rounded-xl shadow-lg shadow-gray-950 bg-slate-700  text-xl">
        <h3 class="w-full font-semibold whitespace-nowrap text-xl">
          IP: <%= @spam_request.remote_ip %>
        </h3>
        <h5 class="text-lg whitespace-nowrap text-right">
          Fecha: <%= @spam_request.created_at.strftime('%d-%m-%Y [%H:%M] ') %>
        </h5>
      </div>
    </div>
    <div class="w-full flex justify-between items-center gap-12">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        URL: <%= @spam_request.url %>
      </h2>
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Método: <%= @spam_request.request_method %>
      </h2>
    </div>
    <div class="w-full flex justify-between items-center gap-12">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Referer: <%= @spam_request.referer %>
      </h2>
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Host: <%= @spam_request.host %>
      </h2>
    </div>
    <div class="w-full flex justify-between items-center gap-12">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Controller: <%= @spam_request.controller_name %>
      </h2>
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Action: <%= @spam_request.action_name %>
      </h2>
    </div>
    <div class="w-full min-h-[28rem] flex justify-center items-start gap-4 px-12 py-16 border border-slate-700 rounded-xl shadow-lg shadow-gray-950 bg-slate-700 text-xl">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Mensaje: <%= @spam_request.message %>
      </h2>
    </div>
    <div class="w-full min-h-[28rem] flex justify-center items-start gap-4 px-12 py-16 border border-slate-700 rounded-xl shadow-lg shadow-gray-950 bg-slate-700 text-xl">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Params: <%= JSON.pretty_generate(@spam_request.params) %>
      </h2>
    </div>
    <div class="w-full flex justify-between items-center gap-12">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Accept Language: <%= @spam_request.accept_language %>
      </h2>
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Origin: <%= @spam_request.origin %>
      </h2>
    </div>
    <div class="w-full flex justify-between items-center gap-12">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Content Type: <%= @spam_request.content_type %>
      </h2>
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Content Length: <%= @spam_request.content_length %>
      </h2>
    </div>
    <div class="w-full flex justify-between items-center gap-12">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Session ID: <%= @spam_request.session_id %>
      </h2>
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        User ID: <%= @spam_request.user_id %>
      </h2>
    </div>
    <div class="w-full min-h-[28rem] flex justify-center items-start gap-4 px-12 py-16 border border-slate-700 rounded-xl shadow-lg shadow-gray-950 bg-slate-700 text-xl">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Cookies: <%= JSON.pretty_generate(@spam_request.cookies) %>
      </h2>
    </div>
    <div class="w-full flex justify-between items-center gap-12">
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Status Code: <%= @spam_request.status_code %>
      </h2>
      <h2 class="w-full text-3xl bg-slate-800 rounded-xl shadow-lg shadow-gray-950 py-3 px-6">
        Updated At: <%= @spam_request.updated_at.strftime('%d-%m-%Y [%H:%M] ') %>
      </h2>
    </div>
  </div>
</div>