<%= form_with(model: contact, url: contacts_path, data: { controller: 'validator' }, class: "contents") do |form| %>
  <div class="flex flex-col lg:flex-row justify-center items-center gap-8">
    <div class="w-full flex flex-col justify-center items-start gap-4">
      <div class="flex justify-between gap-4">
        <%= form.label :title, t('.title'), class: "block text-gray-700 text-sm font-bold mb-2" %>
        <span data-validator="message"></span>
      </div>
      <%= form.text_field :title,
                          data: {
                            validator_target: "title",
                            validator_type: "length",
                            action: "keyup->validator#requiredFieldsCompleted",
                            validator_minlength_value: 10,
                            validator_maxlength_value: 180,
                            validator_target: "required"
                          },
                          placeholder: 'Asunto a tratar',
                          class: "shadow mb-4 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-lg" %>
    </div>
    <div class="w-full flex flex-col justify-center items-start gap-4">
      <div class="flex justify-between gap-4">
        <%= form.label :email, t('.email'), class: "block text-gray-700 text-sm font-bold mb-2" %>
        <span data-validator="message"></span>
      </div>
      <%= form.email_field :email,
                            data: {
                              validator_target: "email",
                              validator_type: "email",
                              action: "keyup->validator#requiredFieldsCompleted",
                              validator_target: "required"
                            },
                            placeholder: 'Email de contacto',
                            class: "shadow mb-4 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-lg" %>
    </div>
  </div>

  <div class="mb-6">
    <div class="flex justify-between gap-4">
      <%= form.label :subject, t('.subject'), class: "block text-gray-700 text-sm font-bold mb-2" %>
      <span data-validator="message"></span>
    </div>
    <div id="blank-toolbar" hidden></div>
    <%= form.rich_text_area :subject,
                            data: {
                              validator_target: "subject",
                              validator_type: "length",
                              action: "keyup->validator#requiredFieldsCompleted",
                              validator_minlength_value: 100,
                              validator_maxlength_value: 1000,
                              validator_target: "required"
                            },
                            placeholder: 'Escribe tu mensaje aquí...',
                            toolbar: "blank-toolbar",
                            class: "trix-content min-h-[12rem] bg-white shadow mb-4 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-lg" %>

  </div>

  <div class="flex items-center justify-between">
    <%= form.submit "Enviar",
            data: {
              validator_target: "submit",
            },
            class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-lg cursor-pointer" %>
  </div>
<% end %>

