<li id="<%= dom_id contact %>"
    data-target="search_results"
    class="min-w-full grid grid-cols-4 py-2 text-slate-100 transition-colors ease-in-out duration-500 hover:bg-indigo-800">
  <div class="flex justify-start items-center py-2 px-4 truncate whitespace-nowrap"><%= contact.title %></div>
  <div class="flex justify-start items-center py-2 px-4 truncate whitespace-nowrap"><%= contact.email %></div>
  <div class="flex justify-end items-center py-2 px-4 truncate whitespace-nowrap"><%= contact.created_at.strftime('%d-%m-%y %H:%M') %></div>
  <div class="flex justify-end items-center gap-5 py-2 px-4">
    <% if action_name != "show" %>
      <%= link_to inline_svg_tag('icons/shared/eye.svg', class:'w-6 h-6'),
                  admin_contact_path(contact),
                  class: "shadow hover:shadow-lg shadow-blue-400 hover:shadow-blue-200 rounded-full p-1 inline-block transition-colors duration-300 hover:bg-blue-600 text-blue-500 hover:text-white" %>
    <% end %>
    <%= button_to inline_svg_tag('icons/shared/trash.svg', class:'w-6 h-6'),
            admin_contact_path(contact),
            method: :delete,
            data: { turbo_confirm: t('.confirm_destroy', resource: contact.title) },
            class: "shadow hover:shadow-lg shadow-red-400 hover:shadow-red-200 rounded-full p-1 inline-block transition-colors duration-300 hover:bg-red-600 text-red-500 hover:text-white" %>
  </div>
</li>
