<section class="relative w-full h-[1060px]">
  <div class="h-full bg-cover bg-center bg-fixed mx-auto px-4 sm:px-6 lg:px-8" style="background-image: url(<%= asset_url('homepage/editorial-pazo-touza-msanz-315.webp') %>)">
    <div class="flex flex-col justify-center flex-wrap h-full">
      <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 md:ml-auto lg:ml-auto xl:ml-auto">
        <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold text-white">
          <%= t('.banner.primary.title')%>
        </h1>
        <hr class="mt-2 mb-4 border-t-2 border-white">
        <h4 class="text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">
          <div class="prose prose-white">
            <!-- Aquí va el contenido trix -->
          </div>
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="relative w-full h-[1060px]">
  <div class="h-full bg-cover bg-center bg-fixed mx-auto px-4 sm:px-6 lg:px-8" style="background-image: url(<%= asset_url('homepage/animacion.webp') %>)">
    <div class="flex flex-col justify-center flex-wrap h-full">
      <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 md:mr-auto lg:mr-auto xl:mr-auto">
        <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold text-white">
          La fiesta asegurada con la gramola disco
        </h1>
        <hr class="mt-2 mb-4 border-t-2 border-white">
        <h4 class="text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">
          <div class="prose prose-white">
            <!-- Aquí va el contenido trix -->
          </div>
        </h4>
      </div>
    </div>
  </div>
</section>

<% content_for :head do %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css", "data-turbo-track": "reload" %>
<% end %>
<section class="w-full mx-auto py-12 border-b border-black/10 overflow-hidden relative">
  <div class="w-4/5 mx-auto relative">
    <h1 class="text-4xl text-center text-slate-50">Que dicen nuestros novi@s?</h1>
    <div class="opinions relative w-5/6 mx-auto overflow-hidden" data-controller="swiper">
      <div class="swiper-container my-5 min-h-[30rem] flex items-center relative" data-swiper-target="opinions">
        <div class="swiper-wrapper items-center">
          <% @reviews.each do |review|%>
            <%= render UI::Cards::Review.new(review: review)%>
          <% end %>
        </div>
      </div>
    </div>
    <% if @reviews.count > 1 %>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    <% end %>
  </div>
</section>

<section class="relative w-full h-[1060px]">
  <div class="h-full bg-cover bg-center bg-fixed mx-auto px-4 sm:px-6 lg:px-8" style="background-image: url(<%= asset_url('homepage/exterior.webp') %>)">
    <div class="flex flex-col justify-center flex-wrap h-full">
      <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 md:ml-auto lg:ml-auto xl:ml-auto">
        <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold text-white">
          Tenemos todo preparado para que sea el día más especial de tu vida
        </h1>
        <hr class="mt-2 mb-4 border-t-2 border-white">
        <h4 class="text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">
          <div class="prose prose-white">
            <!-- Aquí va el contenido trix -->
          </div>
        </h4>
      </div>
    </div>
  </div>
</section>
