<section class="relative w-full h-[1060px]">
  <div class="h-full bg-cover bg-center bg-fixed mx-auto px-4 sm:px-6 lg:px-8" style="background-image: url(<%= asset_url('homepage/editorial-pazo-touza-msanz-315.webp') %>)">
    <div class="flex flex-col justify-center flex-wrap h-full">
      <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 md:ml-auto lg:ml-auto xl:ml-auto">
        <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold text-white">
          <%= t('.banner.primary.title')%>
        </h1>
        <hr class="mt-2 mb-4 border-t-2 border-white">
        <h4 class="text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">
          <div class="prose prose-white">
            <!-- Aquí va el contenido trix -->
          </div>
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="relative w-full h-[1060px]">
  <div class="h-full bg-cover bg-center bg-fixed mx-auto px-4 sm:px-6 lg:px-8" style="background-image: url(<%= asset_url('homepage/animacion.webp') %>)">
    <div class="flex flex-col justify-center flex-wrap h-full">
      <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 md:mr-auto lg:mr-auto xl:mr-auto">
        <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold text-white">
          La fiesta asegurada con la gramola disco
        </h1>
        <hr class="mt-2 mb-4 border-t-2 border-white">
        <h4 class="text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">
          <div class="prose prose-white">
            <!-- Aquí va el contenido trix -->
          </div>
        </h4>
      </div>
    </div>
  </div>
</section>

<% content_for :head do %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css", "data-turbo-track": "reload" %>
<% end %>
<section class="w-full mx-auto py-12 border-b border-black/10 overflow-hidden relative">
  <div class="w-4/5 mx-auto relative">
    <h1 class="text-4xl text-center text-slate-50">Que dicen nuestros novi@s?</h1>
    <div class="opinions relative w-5/6 mx-auto overflow-hidden" data-controller="swiper">
      <div class="swiper-container my-5 min-h-[30rem] flex items-center relative" data-swiper-target="opinions">
        <div class="swiper-wrapper items-center">
          <% @reviews.each do |opinion|%>
            <div class="swiper-slide" data-controller="read-more">
              <div data-read-more-target="wrapper" class="flex flex-col justify-between p-6 bg-[#444654] text-gray-100 rounded-lg shadow-lg shadow-slate-950 h-80 max-h-80 transition-all duration-500 ease-in-out">
                <div class="flex justify-between items-center">
                  <div class="flex justify-start items-center gap-4">
                    <% if opinion.avatar.present? %>
                      <%= image_tag(opinion.avatar, class: "w-10 h-10 rounded-full") %>
                    <% else %>
                      <span class="w-10 h-10 flex justify-center items-center rounded-full bg-slate-400">
                        <%= opinion.name[0] %>
                      </span>
                    <% end %>
                    <span class="">
                      <%= opinion.name %>
                    </span>
                  </div>
                  <div class="flex items-center gap-8">
                    <%= link_to 'https://www.bodas.net/musica/la-gramola-discotecas-moviles--e15600/opiniones', target: 'blank', class: 'flex justify-center items-center bg-slate-300 px-2 h-8 overflow-hidden rounded-xl' do%>
                      <%=inline_svg_tag('icons/brands/bodasnet.svg', class: "w-16 h-16")%>
                    <% end %>
                    <span>
                      <%= opinion.date.strftime('%d-%m-%Y') %>
                    </span>
                  </div>
                </div>
                <div class="flex flex-col justify-start items-start gap-4">
                  <h3 class="text-2xl font-semibold">
                    <%= link_to opinion.title, 'https://www.bodas.net/musica/la-gramola-discotecas-moviles--e15600/opiniones', target: 'blank', class: "text-indigo-600 dark:text-indigo-400" %>
                  </h3>
                  <div>
                    <div data-read-more-target="content" class="overflow-hidden max-h-24 bg-[#444654] transition-all duration-500 ease-in-out">
                      <%= opinion.description %>
                    </div>
                    <button data-action="click->read-more#toggle"
                            data-read-more-target="button"
                            data-read-more-text="<%= t('.read_more') %>"
                            data-read-less-text="<%= t('.read_less') %>"
                            class="text-blue-600 hover:text-blue-800 hidden"><%= t('.read_more') %></button>
                  </div>
                </div>
                <div class="flex justify-between items-center gap-4 mt-4 mb-3 text-right">
                  <span class="inline-block bg-green-500 rounded-full px-2 py-1 text-xs font-semibold text-white"><%= opinion.overall_rating %></span>
                  <span class="mr-2">
                    <% count = 0.0 %>         
                    <% while count < opinion.overall_rating do  %>
                      <span> ⭐ </span>
                      <% count += 1 %>
                    <% end %>
                  </span>
                </div>
              </div>  
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @reviews.count > 1 %>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    <% end %>
  </div>
</section>


<section class="relative w-full h-[1060px]">
  <div class="h-full bg-cover bg-center bg-fixed mx-auto px-4 sm:px-6 lg:px-8" style="background-image: url(<%= asset_url('homepage/exterior.webp') %>)">
    <div class="flex flex-col justify-center flex-wrap h-full">
      <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 md:ml-auto lg:ml-auto xl:ml-auto">
        <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold text-white">
          Tenemos todo preparado para que sea el día más especial de tu vida
        </h1>
        <hr class="mt-2 mb-4 border-t-2 border-white">
        <h4 class="text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">
          <div class="prose prose-white">
            <!-- Aquí va el contenido trix -->
          </div>
        </h4>
      </div>
    </div>
  </div>
</section>
