<!DOCTYPE html>
<html>
  <head>
    <title>Gramoladisco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/6.0.0-beta.2/dropzone.css" integrity="sha512-b3Wb3Os4sxJRdYkfCWtFjvuN/OlfBNtBGJknON+zbxU6M7GRYdII8m1W7TMsls/kwuwtq1wt7TvuF58Sd/4AGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_importmap_tags %>
  </head>

 <body>
    <div class="w-full flex justify-between">
      <%= turbo_frame_tag :admin_modal %>
      
      <%= render 'layouts/shared/notification' %>
      <!-- aside menu -->
      <%= render 'layouts/shared/admin_sidebar' %>

      <main class="w-full flex flex-col bg-gray-800 transition-all duration-500 ease-in-out relative z-1">
        <!-- navbar -->
        <%= render UI::Navbar::Menu.new(orientation: :horizontal, style: {navbar: 'container mx-auto grid grid-cols-1 lg:grid-cols-3 py-2 px-10 gap-4'}) do |menu| %>
          <div id="breadcrumbs" class="breadcrumb">
            <%= render_breadcrumbs tag: :span, separator: " 👉 " %> 
          </div>
          <div></div>
          <%= render(UI::Cards::User.new(user: current_user, options: navbar_user_card_options, actions: user_card_signed_links)) %>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
