<!DOCTYPE html>
<html>
  <head>
    <title>Gramoladisco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/6.0.0-beta.2/dropzone.css" integrity="sha512-b3Wb3Os4sxJRdYkfCWtFjvuN/OlfBNtBGJknON+zbxU6M7GRYdII8m1W7TMsls/kwuwtq1wt7TvuF58Sd/4AGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_importmap_tags %>
  </head>

 <body>
    <div class="w-full flex justify-between" data-controller="toogle">
      <%= render 'layouts/shared/notification' %>
      <!-- aside menu -->
      <aside  data-controller='decrease'
        data-decrease-target='aside'
        class="relative aside-default md:flex lg:block <%= cookies['asideState'] ? 'lg:w-2/12' : 'lg:w-[4%]' %>">
        <!--LOGO--->
        <%= render UI::Logo.new(link: root_path, logo: 'gramola-logo.png') %>
        <!-- toggle button -->
        <%= active_link_to '', 
            data: { action: 'click->decrease#toggle' },
            class: 'absolute top-3 -right-4 nav-link p-1 text-center rounded-full border border-slate-600 bg-white hover:bg-slate-200 text-indigo-500 shadow-md shadow-slate-300 z-10' do %>
          <%= inline_svg_tag('icons/aside/chevron-left.svg', class: 'w-6 h-6', data: { 'decrease-target': 'iconLeft' }) %>
          <%= inline_svg_tag('icons/aside/chevron-right.svg', class: 'w-6 h-6 hidden', data: { 'decrease-target': 'iconRight' }) %>
        <% end %>
        <!-- mobile close button -->
        <div class="w-full fixed top-2 right-[40%] flex justify-end md:hidden z-10">
          <button class="w-10 ml-5 group focus:outline-none">
            <div class="rounded-xl bg-black h-1 w-8 my-1 relative top-2 rotate-45 "></div>
            <div class=""></div>
            <div class="rounded-xl bg-black h-1 w-8 my-1 relative -rotate-45 top"></div>
          </button>
        </div>

        <!---LINK OPTIONS-->
        <nav class="w-full flex flex-col items-center border-t border-gray-700 gap-8">
          <% aside_items.each do |item| %>
            <%= render UI::Navbar::NavItem.new(path: item[:path], title: item[:title], icon: item[:icon]) %>
          <% end %>
        </nav>

        <!-- user card -->
        <%#= render UI::Cards::User.new( user: nil, options: aside_user_card_options, actions: user_card_signed_links) %>
      </aside>

      <main class="w-full flex flex-col bg-gray-800 transition-all duration-500 ease-in-out relative z-1">
        <!-- navbar -->
        <%= render UI::Navbar::Menu.new(orientation: :horizontal, style: {navbar: 'container mx-auto grid grid-cols-1 lg:grid-cols-3 py-2 px-10 gap-4'}) do |menu| %>
          <div id="breadcrumbs" class="breadcrumb">
            <%= render_breadcrumbs tag: :stapn, separator: " 👉 " %> 
          </div>
          <div></div>
          <%= render(UI::Cards::User.new(user: current_user, options: navbar_user_card_options, actions: user_card_signed_links)) %>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
