<!DOCTYPE html>
<html>
  <head>
    <title>Gramoladisco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- navbar -->
    <%= render 'layouts/shared/navbar' %>
    <%= render 'layouts/shared/notification' %>
    <main class="w-full main-h-screen bg-gray-800 mx-auto flex-grow flex flex-col">
      <%= yield %>
    </main>
    <%= turbo_frame_tag :modal %>
    <!-- footer -->
    <%= render 'layouts/shared/footer' %>
  </body>
</html>
